<div>
    <h1>Bienvenido a la aplicación de gestión médica</h1>
    <button routerLink="/usuarios">Gestionar Usuarios</button>
    <button routerLink="/medico-personal">Gestionar Médicos</button>
    <button routerLink="/paciente">Gestionar Pacientes</button>
    <button routerLink="/consulta-medica">Gestionar Consultas Médicas</button>
    <button routerLink="/facturacion">Gestionar Facturacion</button>
    <button routerLink="/plan-cuentas">Gestionar Plan de Cuentas</button>
    <button routerLink="/perfil-acceso">Gestionar perfil acceso</button>
    <button routerLink="/reporte">Gestionar Reportes</button>
    <button routerLink="/integracion-contable">Gestionar Integraciones Contables</button>
    <button routerLink="/prescripcion-orden-medica">Gestionar Prescripciones de Órdenes Médicas</button>
    <button routerLink="/certificado">Gestionar Certificados</button>
    <!-- Agrega botones para las demás entidades aquí -->
  </div>
  